#sidebar {
  width: 21% !important;
  z-index: 980 !important;
}
#home {
  width: 80%;
}

@media (max-width: 920px) {
  table {
    font-size: 13px;
    thead tr th {
      font-size: 14px !important;
    }
    tbody tr td {
      width: 150px;
      text-wrap: nowrap;
    }
  }
  .home-content-users-table {
    overflow: scroll;
  }
  .home-box {
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center !important;
    justify-content: center !important;
    .info-wrapper {
      width: 98% !important;
    }
    .home-box-title span {
      font-size: 18px !important;
    }
    .home-box-value {
      label,
      span {
        font-size: 13px !important;
      }
    }
  }
  #sidebar {
    overflow-x: scroll;
    .sidebar-header .sidebar-menu-btn {
      top: 10px;
    }
    #sidebar .sidebar-menu ul li a {
      font-size: 12px;
    }
  }

  //page
  .home-content-users-table {
    tr {
      font-size: 14px;
    }
  }
}
@media (max-width: 704px) {
  #sidebar {
    width: 30% !important;
    .sidebar-menu ul li a {
      font-size: 13px;
    }
  }
  #home {
    width: 70% !important;
  }
  //page
  .form {
    flex-direction: column;
    .col-6 {
      width: 100%;
      input {
        width: 96%;
      }
    }
  }
}
@media (max-width: 620px) {
  #home .home-header {
    margin: 0 5px;
    // flex-direction: column-reverse;
    flex-direction: column-reverse;
    gap: 1.5rem;
    padding: 1rem 0;
    align-items: center;
    .home-left .home-profile .home-profile-image img {
      width: 50px;
      border-radius: 50%;
      height: 48px;
    }
    .home-right {
      width: 200px;
      flex-wrap: wrap;
      gap: 1rem;
    }
    .home-right .home-notification-modal {
      top: 30px !important;
      left: unset !important;
      .alert-danger {
        font-size: 13px;
        text-align: center;
      }
    }
  }
}
