
@font-face {
    font-family: sans;
    src: url(../fonts/IRANsans/IRANSansWeb.ttf);
    font-weight: normal;
  }
  
  
  @font-face {
    font-family: nastaligh;
    src: url(../fonts/nast/IranNastaliq.ttf);
  }
  