// ! Varible ! //
$transition: all 0.2s ease;
$font-size-sm: 13px;
$font-size-md: 15px;
$font-size-lg: 18px;
$font-size-xl: 22px;
$border: 1px solid rgba(131, 131, 131, 0.63);
$succes: rgb(26, 214, 26);
$orange3 : #e08744;
$orange4:rgb(236, 122, 29);
// ! Mixin ! //
@mixin flex($dir: row, $j-c: center, $a-i: center) {
    display: flex;
    justify-content: $j-c;
    align-items: $a-i;
}
@mixin title {
    font-size: $font-size-lg;
    font-family: "lalezar";
}