
// ! Home ! //
#home {
    #home-content {
        margin-top: 15px;
        padding: 15px 10px;
        .home-content-latset-users {
            background-color: #fff;
            box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
            margin-top: 20px;
            border-radius: 5px;
            .home-content-users-title {
                padding: 20px 15px;
                span {
                    @include title();

                    .signup {
                        color: #1943da;
                    }
                }
            }
            .home-content-users-table {
                padding: 0 10px;
                table {
                    thead {
                        background-color: #f2f7fd;
                        tr {
                            th {
                                font-family: "lalezar";
                                border: none;
                                color: #67747e;
                                text-align: center;
                            }
                        }
                    }
                    tbody {
                        tr {
                            vertical-align: middle;
                            .profile-table {
                                width: 40px;
                                border-radius: 50%;
                            }
                            td {
                                text-align: center;
                                .edit-btn {
                                    font-size: 13px;
                                }
                                .delete-btn {
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .home-content-edit {
            box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
            border-radius: 3px;
            padding: 20px 10px;
            visibility: hidden;
            opacity: 0;
            .back-btn {
                padding: 0 15px;
                i {
                    cursor: pointer;
                }
            }
            .form {
                display: flex;
                flex-wrap: wrap;
                .input {
                    margin: 5px 15px;
                    input {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        border-radius: 3px;
                        border: none;
                        border: 1px solid #a6a6a6;
                        padding: 5px 15px;
                        transition: $transition;
                        &::placeholder {
                            font-size: 13px;
                        }
                        &:focus {
                            border: 1px solid lighten($color: blue, $amount: 30);
                            box-shadow: 0px 0px 5px 0px lighten($color: gray, $amount: 20);
                        }
                    }
                    .input-title {
                        @include title();
                    }
                }
                .bottom-form {
                    @include flex($j-c: space-between);
                    margin: 5px 15px;
                    .sex {
                        .input-title {
                            @include title();
                        }
                        .radios {
                            display: flex;
                            div {
                                margin: 0 10px;
                                label {
                                    cursor: pointer;
                                    @include flex();
                                }
                                input {
                                    appearance: none;
                                    cursor: pointer;
                                    margin-right: 3px;
                                    background-color: transparent;
                                    border-radius: 50%;
                                    border: 1px solid #2774f5;
                                    width: 15px;
                                    height: 15px;
                                    &:checked {
                                        position: relative;
                                        &::before {
                                            content: "";
                                            position: absolute;
                                            top: 2px;
                                            right: 2px;
                                            width: 9px;
                                            height: 9px;
                                            background-color: #2774f5;
                                            border-radius: 50%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .submit-btn {
                        margin-top: 5px;
                        input {
                            background-color: #f58727;
                            border: none;
                            border-radius: 3px;
                            color: #fff;
                            padding: 5px 20px;
                        }
                    }
                }
            }
        }
    }
}
// ! End Home ! //

// ! Content ! //
#content {
    display: flex;
    position: relative;
    .show-more-icon {
        cursor: pointer;
        &:hover {
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
            color: orangered;
}
    }
}
#delete-modal {
    width: 400px;
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 10000;
    background-color: #fff;
    box-shadow: 0px 0px 5px 1px #ccc;
    padding: 30px 0;
    border-radius: 3px;
    .delete-modal-icon {
        color: rgb(252, 23, 23);
        font-size: 40px;
    }
    .delete-modal-title {
        font-size: 20px;
        font-family: "lalezar";
        padding: 10px 0;
    }
    .delete-modal-btns {
        button {
            padding: 4px 30px;
            font-size: 14px;
            border-radius: 3px;
        }
    }
    .delete-modal-btn-yes {
        border: none;
        background-color: rgb(252, 23, 23);
        color: #fff;
    }
    .delete-modal-btn-no {
        background-color: transparent;
        color: rgb(41, 41, 41);
        margin-left: 20px;
        border: 1px solid #ccc;
    }
}
.active-modal #delete-modal {
    display: flex;
}
#overlay {
    display: none;
    width: 100%;
    height: 100vh;
    background-color: rgba(24, 22, 22, 0.4);
    position: absolute;
    top: 0;
}
.active-modal #overlay {
    display: block;
}
.active-modal {
    overflow: hidden;
}
.active-modal-notfication .home-notification-modal {
    display: block !important;
}
.active-edit-modal {
    visibility: visible !important;
    opacity: 1 !important;
}

// ! End Content ! //
